.DS_Store
_env/
out/
plugins/
www
www/*/*
splash.png
resources/
src/globals.ts.bak*
.vscode/plugins.json
.vscode/typings/jquery/jquery.d.ts
platforms/
node_modules/
package-lock.json
src/globals.ts.bak**
www/build/
www/build/intl.complete.js
www/build/main.css
www/build/main.css.map
www/build/main.js
www/build/main.js.map
www/build/polyfills.js
.vscode/tasks.json
www/build/main.css.map
www/build/main.js.map
www/app.lang.js
TODO
www-prod/**
www-dump
www_dump
azu-*
prd-*

azu-*
prd-*
www/*
www/build/*
www_dump
src.*
src-*