<ion-header >
    <ion-navbar >
        <ion-title >Forgot Password</ion-title >
    </ion-navbar >
</ion-header >

<ion-content padding class="forgot-password-page" >
    <ion-list>
        <ion-item>
            <ion-label style="white-space: normal">Do you have OTP (One Time Password)?</ion-label>
            <ion-toggle [(ngModel)]="otpExist"></ion-toggle>
        </ion-item>
    </ion-list>
    <form [formGroup]="forgotForm">
        <ion-list class="custom-list" >
            <ion-item >
                <ion-input type="email" formControlName="email"
                           placeholder="Enter your email here"></ion-input>
            </ion-item >
            <ion-item *ngIf="otpExist">
                <ion-input type="password" formControlName="password"
                        placeholder="Enter new password here"></ion-input>
            </ion-item >
            <ion-item *ngIf="otpExist">
                <ion-input type="password" formControlName="password2"
                        placeholder="Confirm your password here"></ion-input>
            </ion-item >
            <ion-item  *ngIf="otpExist">
                <ion-input type="number" formControlName="otp"
                        placeholder="Enter OTP here"></ion-input>
            </ion-item >
        </ion-list >

        <button ion-button  *ngIf="!otpExist" type="submit" color="primary" block (click)="requestOTP()" >Request OTP</button >
        <button ion-button  *ngIf="otpExist" type="submit" color="primary" block (click)="changePassword()" >Set Password</button >
    </form >
</ion-content >
