.custom-input{
	@include placeholder(#FFF);
}

.forgot-password-page{
	.custom-textfield {
	  border: 1px solid $black !important;
	  color: $black;
	  border-radius: .6em !important;
	  margin-bottom: 5px;
	  height: 1.0em;
	  min-height: 3.4rem;
	  box-shadow: inset 1px 2px 4px rgba(0, 0, 0, .2);
	  font-size: 1.4rem;
	  background-color:white;
	}
}