<ion-header>
    <ion-navbar class="mg2u-navbar">
        <!-- <ion-title>{{"CompetitionFlights.title" | translate}}</ion-title> -->
        <!-- <img class="mg2u-logo" src="assets/img/myGolf2u.png" /> -->
        <img class="mg2u-logo" src="assets/img/mg2u-logo-top.svg" />
        <ion-buttons end>
            <!-- <button ion-button icon-only (click)="onHomeClick()">
                <ion-icon name="home"></ion-icon>
            </button> -->
            
            <button ion-button icon-only  (click)="onRefreshClick(null)">
                <i class="fa fa-lg fa-refresh"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="mygolf-page-background">
    <ion-grid fixed>
    <ion-refresher pullMin="200" >
        <!-- (ionRefresh)="onRefreshClick($event)" -->
        <ion-refresher-content pullingIcon="arrow-down" pullingText="drag down to reload" refreshingSpinner="circles"
            refreshingText="Refreshing ...">
        </ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item class="page-sub-title align-center">
            <h1 style="font-weight:bold">
                {{getBuggyTeeOffDate() | date: 'EEE, d MMM yyyy'}} 
                <!-- {{slotAssigned?slotAssigned.teeOffDate:''}} -->
                <!-- Saturday, 2 May 2020 -->
                <!-- {{competition.competitionName}} <span *ngIf="competition.totalRounds > 1" >(R{{gameRound.roundNo}})</span > -->
            </h1>
            <!-- <h4 *ngIf="gameRound && gameRound.courseNames">{{gameRound.courseNames[0]}} <span
                *ngIf="gameRound.courseNames[1]" >& {{gameRound.courseNames[1]}}</span ></h4 > -->
        </ion-item>
        <!-- <ion-toolbar color="light" >
            <ion-searchbar [(ngModel)]="searchQuery" debounce="1500" (ionInput)="onSearchInput($event)" dark
                (ionCancel)="onSearchCancel()" [showCancelButton]="true">
            </ion-searchbar >
        </ion-toolbar > -->
        <ion-toolbar>
            <ion-item class="page-sub-title">
                <ion-grid no-padding>
                    <ion-row col-12 no-padding >
                        <ion-col col-6><i class="far fa-fw fa-clock"></i>{{getTeeOffTime(teeTimeBooking.slotAssigned.teeOffTime)}}</ion-col>
                        <!-- <ion-col col-4 style="text-align:center">{{flightDetail && flightDetails?flightDetail.status:''}}</ion-col> -->
                        <ion-col col-6 style="text-align:right;padding-right:1rem">Ref. <i class="fa fa-fw fa-hashtag"></i>{{teeTimeBooking.bookingReference}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>{{slotAssigned.startCourse.name}}</ion-col>
                        <!-- Second Nine (10-18) -->
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-toolbar>
        <div *ngIf="flightPlayers.length > 0">
            <ion-row>
                <ion-col col-12 col-md-6 col-lg-6 col-xl-6 *ngFor="let x of flightPlayers; let i = index;">
                    <!-- *ngFor="let x of [1,2,3,4]; let i = index;" -->
                    <!-- (click)="getBuggyPlayersInfo(x)" -->
                    <ion-card class="mygolf-table">
                        <div [class]="getBuggyBgClass(x)">
                            <!-- *ngFor="let x of [1,2]; let i = index;" -->
                            <!-- <ion-item item-left style="border-bottom:none;background:transparent">
                                    
                                </ion-item> -->
                            <span class="buggy-toolbar">
                                    <!-- text-align:center; -->
                                    <ion-row justify-content-around>
                                        
                                        <ion-col col-8 style="text-align: left;">
                                                <!-- <span>BUGGY #{{x.buggy}}</span> -->
                                                <span>
                                                    <img item-left  *ngIf="getBuggyNumber(x).toLowerCase()!=='walking'" style="width: 1.8rem;float:left;object-fit: cover;" src="assets/img/icon-buggy-new.svg">
                                                    <i item-left *ngIf="getBuggyNumber(x).toLowerCase()==='walking'" style="color:#1b6a34;font-size:2rem;" class="fas fa-fw fa-walking"></i>
                                                    <b>{{getBuggyNumber(x)}}</b></span>
                                                <!-- {{x.pairingNo}} -->
                                        </ion-col>
                                        <!-- <ion-col col-4>
                                            &nbsp;
                                        </ion-col> -->
                                        <ion-col col-4>
                                                <ion-fab right edge *ngIf="caddieMaster">
                                                    <!--  *ngIf="teeTimeBooking.bookingStatus==='Booked'"  -->
                                                        <button ion-fab color="primary" mini>
                                                            <!-- <ion-icon name="settings"></ion-icon> -->
                                                            <i class="fas fa-cog"></i>
                                                        </button>
                                                        <ion-fab-list side="down">
                                                            <button style="border-color: #1b6a34;
                                                            border-width: thin;
                                                            border-style: solid;"
                                                            ion-fab clear (click)="onSelectCaddyList(x)">
                                                                <!-- C -->
                                                                <img style="width: 2.5rem;float:left;object-fit: cover;" src="assets/img/icon-caddie_.svg">
                                                            </button>
                                                            <button style="border-color: #1b6a34;
                                                            border-width: thin;
                                                            border-style: solid;" ion-fab clear (click)="onSelectBuggyList(x)">
                                                                <!-- B -->
                                                                <img item-right style="width: 3.8rem;float:right;object-fit: cover;margin:0.5rem" src="assets/img/icon-buggy-new.svg">
                                                            </button>
                                                            <!-- <button ion-fab color="danger">
                                                                <i class="fas fa-trash-alt"></i>
                                                            </button>
                                                            <button ion-fab color="danger">
                                                                <ion-icon name="logo-vimeo"></ion-icon>
                                                            </button> -->
                                                        </ion-fab-list>
                                                    </ion-fab>
                                        </ion-col>
                                    </ion-row>
                                
                                    
                                
                                <!-- <ion-item item-right>
                                        
                                </ion-item> -->
                                
                            </span>
                            <!-- <p class="buggy-title"></p> -->
                            <!-- <ion-row>
            <ion-col col-4><span class="buggy-name">Amber Brave</span></ion-col>
            <ion-col col-2>
                    <img class="player-img-flight left" src="img/default_user.png"
                        onerror="this.src='img/default_user.png'">
            </ion-col>
            <ion-col col-2>
                    <img class="player-img-flight" src="img/default_user.png"
                        onerror="this.src='img/default_user.png'">
            </ion-col>
            <ion-col col-4 style='text-align: right;'><span class="buggy-name">Anna Selkie</span></ion-col>
        </ion-row> -->
        <!-- *ngIf="x[0] || x[1]" -->
                            <ion-row class="player-row">
                                    <!-- *ngIf="x.players[0] || x.players[1]" -->
                                <ion-col id="player-left-name" style="min-width:30%"><span *ngIf="onPlayerCheck(x,'left',i)" class="buggy-name">{{getPlayerName_(x,'left',i)}}</span></ion-col>
                                <ion-col id="player-left-img" style='width:20%;text-align: -webkit-center;padding:0;padding-top:0.3rem;'>
                                    <img *ngIf="onPlayerCheck(x,'left',i)" class="player-img-flight left" [src]="getPlayerName_(x,'leftImage',i)"
                                        onerror="this.src='img/default_user.png'">
                                </ion-col>
                                <!-- *ngIf="x[1]" -->
                                <ion-col id="player-right-img" style='width:20%;text-align: -webkit-center;padding:0;padding-top:0.3rem;'>
                                    <img *ngIf="onPlayerCheck(x,'right',i)" class="player-img-flight" [src]="getPlayerName_(x,'rightImage',i)"
                                        onerror="this.src='img/default_user.png'">
                                </ion-col>
                                <ion-col id="player-right-name" style='min-width:30%;text-align: right;'>
                                    <span *ngIf="onPlayerCheck(x,'right',i)" class="buggy-name">{{getPlayerName_(x,'right',i)}}</span>
                                </ion-col>
                            </ion-row>

                            <ion-row style="    height: -webkit-fill-available;">
                                <!-- *ngIf="x[0] || x[1]" -->
                                <ion-col id="caddie-left" col-4 no-padding>
                                        <!-- *ngIf="i % 2 === 1" -->
                                        
                                    <span  [class]="getCaddyPlayer(x,'left','checkClass',0)"> 
                                        <!-- class="buggy-caddie-name" -->
                                        <!-- <ion-avatar class="no-margin"  item-start> -->
                                            {{getCaddyPlayer(x,'left','id',0)}}
                                        <!-- {{x[0]?'#'+setCaddyAssigned(x[0],'id'):''}} -->
                                        <!-- *ngIf="x[0]?setCaddyAssigned(x[0],'assigned?'):false" -->
                                        <img *ngIf="getCaddyPlayer(x,'left','check',0)"  class="caddie-img-flight caddie left" 
                                        [src]="getCaddyPlayer(x,'left','image',0)"
                                            onerror="this.src='assets/img/caddie-image.png'">
                                        <br>
                                        {{getCaddyPlayer(x,'left','name',0)}}
                                        <!-- {{x[0]?setCaddyAssigned(x[0],'name'):''}} -->
                                    </span>
                                    <!-- </ion-avatar>  -->

                                </ion-col>
                                <ion-col>
                                    <!-- id="bag-left" col-2 style='text-align: right;' [class]="setBagClass(x,'left')" -->
                                    &nbsp;
                                </ion-col>
                                <ion-col >
                                    <!-- id="bag-right" col-2 style='text-align:left' [class]="setBagClass(x,'right')" -->
                                    &nbsp;
                                </ion-col>
                                <!-- *ngIf="x[1]"  -->
                                <ion-col id="caddie-right"   col-4 style='text-align: right;' no-padding>
                                        <!-- *ngIf="setCaddyAssigned(x[1],'assigned?')" -->
                                    <span [class]="getCaddyPlayer(x,'right','checkClass',1)">
                                        <!-- *ngIf="x[1]?setCaddyAssigned(x[1],'assigned?'):false" -->
                                        <img *ngIf="getCaddyPlayer(x,'right','check',1)" class="caddie-img-flight caddie right" 
                                        [src]="getCaddyPlayer(x,'right','image',1)"
                                            onerror="this.src='assets/img/caddie-image.png'">
                                            {{getCaddyPlayer(x,'right','id',1)}}
                                        <br>{{getCaddyPlayer(x,'right','name',1)}}
                                    </span>
                                    <!-- Caddy #03{{x}}<br>Bogart</span> -->
                                </ion-col>
                            </ion-row>
                        </div>
                    </ion-card>
                </ion-col>
            </ion-row>


            <!-- </div>
        </ion-card> -->
        </div>
    </ion-list>
</ion-grid>
</ion-content>
<ion-footer style="background-color: #DDF6D6 !important;">
    <ion-row style="text-align: center;">
        <ion-col col-2>
            <img style="height: 5rem; padding:1rem;" class="footer-icons" src="assets/img/footer-icon-calendar.png" />
        </ion-col>
        <ion-col col-2 (click)="onNotificationsClick()">
            <img style="height: 5rem; padding:1rem;" class="footer-icons" src="assets/img/footer-icon-notification.png" />
        </ion-col>
        <ion-col col-4 (click)="onHomeClick()">
            <img  style="height: 5rem;" src="assets/img/footer-icon-mg2u.png" />
        </ion-col>
            <ion-col col-2>
                <img style="height: 5rem; padding:1rem;" class="footer-icons" src="assets/img/icon-question-only.png" />
            </ion-col>
            <ion-col col-2>
                <img style="height: 5rem; padding:1rem;" class="footer-icons" src="assets/img/footer-icon-player.png" />
            </ion-col>
    </ion-row>
    
</ion-footer>