player-refund-redeem-history {
    .slot-available {
        color: green;
    }
    .slot-not-available {
        color: red;
        font-style: italic;
    }

    .no-bullets {
        list-style-type: none;
        margin: 0;
        padding-left: 1em;
    }

    ion-row.row.refund-amount {
        color: #30bb5b !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    ion-row.row.redeem-amount {
        color: red !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .small.fa-stack {
        font-size: 0.5em;
    }
    .small i {
        vertical-align: middle;
    }

    .history-image {
        transform: scale(1.5);
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .history-image.redeem-amount {
        fill: red;
    }

    .history-image.refund-amount {
        fill: #30bb5b;
    }
}