.testing-screen {

    .title {
        padding-left: 6rem;
        color: #28BB5B;
        font-weight: bold !important;
        white-space: normal;
        font-size: small;
    }

    .sub-title {
        padding-left: 6rem;
        white-space: normal;
        font-size: smaller;
    }

}
