friend-list-page {

  //.css-calendar {
  //  color: #D92929;
  //  padding-right: 5px;
  //}
  //.friend-row {
  //  @extend .custom-item;
  //}
  //.custom-avatar-img {
  //  min-width: 4rem;
  //  min-height: 4rem;
  //}

  //[item-left] {
  //  background-image: none;
  //}
  .male {
    color: $skyblue;
  }
  .female {
    color: $eagle-color;
  }

  .scroll-content {
    height: calc(100% - 18rem)
  }
}
