buggy-list-page {
    div.scroll-content {
        padding-bottom: 13em !important;
    }

    .item-divider-ios,
    .item-divider-md {
        &.list-subHeader {
            //background-color: $badge-background;
            color: $primary;
            padding-top: 1rem;
            //padding-bottom:0.5rem;
            border-bottom: solid thin $badge-background;

            font-weight: bold;
            vertical-align: middle;
            font-size: $font-size-base * 0.8 !important;

        }
    }

    .item-wrap {
        ion-label {
            color: #666;
            font-size: small;
            white-space: normal !important;

        }

        border-bottom: solid thin $dark;

    }

    .teebox {
        padding-left: 0;
        margin-top: -5px;
        margin-bottom: -5px;
    }

    .page-sub-title {
        background-color: white; //#cde2c3 !important;
        // background: none !important;
    }

    .btn-back {
        background: url(../assets/img/prev.png) no-repeat;
        background-size: 1.5em;
        // transform: translate(10px, 10px);
        transform: translate(12px, 15px);
    }

    .btn-next {
        background: url(../assets/img/prev.png) no-repeat;
        background-size: 1.5em;
        transform: scale(-1, 1) translate(12px, 15px);
    }

    ion-card ion-avatar img {
        height: 5em !important;
        object-fit: cover !important;
        width: 100%;
    }

    ion-avatar,
    ion-thumbnail {
        display: block;
        line-height: 1;
        max-height: 5em !important;
        object-fit: cover !important;
    }

    .item-md ion-avatar img,
    .item-md ion-avatar ion-img,
    .item-ios ion-avatar img,
    .item-ios ion-avatar ion-img {
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
}