.hole-analysis-page {
	.course-info {
		margin: 0px;
	width:100%;
	box-shadow:none;
	border-bottom: black;
    border-bottom-style: solid;
    border-bottom-width: thin;
	}
	.ph-calendar{
		color:#D92929;
		padding-right:5px;
	}
	.ph-pencil{
		color:#0388A6;
		padding-right:5px;
	}

	.ph-tick{
		color:$primary;
		font-weight:bold;
		font-size:1.6rem;
	}

	.ph-arrow{
		color:$secondary;
  }
  
  .scroll-content {
    height: calc(100% - 15em);
  }


  background-color: $white;
  ion-card {
		margin-top:0px;
		// width:100%;
    // // background-color: #424242;
    // margin: 5px 10px;
    // width: calc(100% - 20px);
  }
  ion-row {
    padding: 0px;
    margin-top: 0;
  }

  ion-row:last-child {
    padding-bottom: 5px;
  }

  ion-col {
    padding: 2px 0px 2px 0px;
    text-align: center;

  }
  ion-item {
    background: transparent;
    padding: 0px;
    ion-label {
      margin: 0px;
    }
  }
  .swiper-wrapper {
    margin-bottom: 20px;
  }
	.score-par {
		// color: darken($par-color, 30%);
		color: darkorange;
	//	color: black;
	}
	.score-eagle {
		color: $eagle-color;
		//color: white;
	}
	.score-birdie {
		color: $birdie-color;
		//color: white;
	}
	.score-bogey {
		//background-color: #FFFFFF;
		color: black;
	}
	.score-average {
		//background-color: #FFFFFF;
		color: $blue;
	}
  .title-panel {
    background-color: $page-sub-title;
    text-align: center;
  }
  .competition-name {
    font-weight: bold;
    font-size: small;
    white-space: normal;
  }
  .scoring-format {
    font-size: small;
    font-weight: bold;
  }
  .club-name {
    font-size: x-small;
  }
  .course-names {
    font-size: x-small;
  }
  .game-scoring {
    background-image: -webkit-linear-gradient($danger, darken($danger, 30%));
    background-image: -moz-linear-gradient($danger, darken($danger, 30%));
    background-image: -ms-linear-gradient($danger, darken($danger, 30%));
    background-image: -o-linear-gradient($danger, darken($danger, 30%));
    background-image: linear-gradient(to bottom, $danger, darken($danger, 30%));
    color: white;
    font-weight: bolder;
    font-size: $font-size-base;
    p {
      padding-left: 10px;
      color: white;
    }
    p:first-child {
      font-size: medium;
    }
  }
  .key-legends {
    color: $black;
    margin: 5px 10px;
    ion-col {
      text-align: left;
      border: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 1.1rem;
    }
  }

  .scorecard-course {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 3px;
    font-size: small;
  }
  .scorecard {
    // border-radius: 5px;
    // border: solid thin darkgrey;
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 11px -3px rgba(166, 163, 166, 1);
    ion-card-content {
      padding: 0px;
      line-height: 1.2;
    }
    ion-col {
      font-size: small;
    }
    .scorecard-header {
      background-color: $sub-header !important;
      padding-top: 0px;
      padding-bottom: 0;
      color: white;
    }

    .name-col {
      text-align: left !important;
      font-size: smaller;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-left: 2px;
      min-width: 25%;
    }
    .header-col {
      min-width: 25%;
    }
    .hole-par-row {
      background-color: $par-color !important;
      color: black !important;
    }
    .hole-index-row {
      color: white !important;
      background-color: $dark;
    }
    .player-row {
      background-color: white !important;

      .player-name {
        font-size: smaller;
        padding-top: 5px;
      }
    }

  }
  .player-totals {
    border-radius: 5px;
    margin: 10px 0px 0px 10px;
    border: solid thin darkgrey;
    width: calc(100% - 20px);
    //box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 11px -3px rgba(166, 163, 166, 1);
    ion-grid {
      width: 100%;
      margin: 0px;
    }
    ion-col {
      padding: 5px 0px 0px 0px;
      margin: 0px;
      font-size: small;
    }

    ion-col.main-column {
      text-align: left;
      padding-left: 3px;
      font-size: x-small;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .header-row {
      background-color: $primary;
      color: white;
      font-weight: bold;

      .score-type {
        width: 40%;
      }
      .net, .gross {
        width: 30%;
      }
      .main-column {
        font-size: small;
      }
    }
    .sub-header {
      background-color: $dark;
      color: white;
      font-weight: normal;
      .main-column {
        font-size: small;
      }
    }
    .player-row {
      .total-column {
        background: $primary;
        color: white;
      }
    }
  }

  // img {
  //   max-width: 12px;
  //   max-height: 12px;
  // }

  .scorecard-net {
    font-size: small;
    font-weight: bold;
  }
  .handicap-info {
    font-size: xx-small;
  }
}

.delete-scores-confirm {
  font-size: small;
  p{
    padding: 10px 5px;
  }
  .game-details{
    i{
      color: $danger;
    }
    span {
      margin-top: 5px;
    }
  }
}
/*.hole-analysis-page{

	.course-info {
    margin: 0px;
	width:100%;
	box-shadow:none;
	}

	.analysis-info {
    margin: 0px;
	width:100%;
	box-shadow:none;

		ion-row{
			// padding: 5px 0px;
			// padding-top:1px;
		}

		ion-row:last-child { border-bottom:1px solid #DDD; }
		ion-row:first-child { font-size:1.5rem; }

		ion-col{
			padding:5px 0;
			text-align:center;
			border-right:1px solid #DDD;
			border-top:1px solid #DDD;
		}
		ion-col:last-child { border-right: none; }

		.custom-par-column{
			background-color: black;
			color:white;
		}
	}

	.hole-info {
    margin: 0px;
	width:100%;
	box-shadow:none;
	padding-bottom:15px;
		ion-row{
			padding:0px;
			padding-top:5px;
		}

		ion-row:last-child {  }
		ion-row:first-child { font-size:1.5rem; }

		ion-col{
			padding:8px 0;
			text-align:center;
		}
		ion-col:last-child {  }
	}


	.custom-main-lbl{
		font-size: 1.7rem;
		padding-left:5px;
	}

	.custom-badge-home{
    border:none;
    background-color: $light;
    color: $primary;
    font-size:1.7rem;
	}

	.scorecard {
		border-radius: 5px;
		border: solid thin darkgrey;
		//box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 10px 11px -3px rgba(166, 163, 166, 1);
		ion-card-content {
			padding: 0px;
			line-height: 1.2;
		}
		ion-col {
			font-size: small;
		}
		.scorecard-header {
			background-color: $sub-header !important;
			padding-top: 0px;
			padding-bottom: 0;
			color: white;
		}

		.name-col {
			text-align: left !important;
			font-size: smaller;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			margin-left: 2px;
			min-width: 30%;
		}
		.header-col {
			min-width: 30%;
		}
		.hole-par-row {
			background-color: $par-color !important;
			color: black !important;
		}
		.hole-index-row {
			color: white !important;
			background-color: $dark;
		}
		.player-row {
			background-color: white !important;

			.player-name {
				font-size: x-small;
				padding-top: 5px;
			}
		}

	}

	.score-par {
		color: darken($par-color, 30%);
	//	color: black;
	}
	.score-eagle {
		color: $eagle-color;
		//color: white;
	}
	.score-birdie {
		color: $birdie-color;
		//color: white;
	}
	.score-bogey {
		//background-color: #FFFFFF;
		color: black;
	}


}
*/
