// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// @fa_path: "node_modules/@fortawesome";
// @import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
// @import "../../node_modules/@fortawesome/fontawesome-free/css/fontawesome.css";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "../../node_modules/@fortawesome/fontawesome-free/scss/_icons";

// @import "font-awesome";
@import "fontawesome-free/scss/fontawesome.scss";
@import "fontawesome-free/scss/solid.scss";
@import "fontawesome-free/scss/brands.scss";
@import "materialdesignicons";
@import "_mygolf_mixins";
@import "ionicons"; 

$image-path: '../assets/img/' !default;

// body {
//     font-family: 'Palatino Linotype', sans-serif !important;
// }
.main-logo {
    //background: url(../assets/img/logo-48x.png);
            // <img class="ri" src="assets/img/mg2u-circle-512.png" />
    background: url(#{$image-path}/mg2u-circle-512.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-top: 30px;
    padding-bottom: 50px;
    background-size: 80px !important;
    margin: 10px 5px;
}

.britesoft-logo {
    background: url(../assets/img/bs-logo.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-top: 30px;
    padding-bottom: 50px;
    background-size: 30px !important;
    margin: 10px 5px;
}
.loading-logo {
    background: url(../assets/img/mg2u-circle-512.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    padding-top: 300px !important;
    padding-bottom: 0;
    background-size: 220px !important;
    margin: 10px 5px;
}

.custom-list-header {
    background-color: $sub-header; //$black;
    color: $white;
}


.custom-badge {
    border: none;
    background-color: $badge-background;
    color: $badge-text-color;
    font-size: $badge-font-size;
    background: none;
}

.avatar-left {
    display: inline;
    float: left;
}

.avatar-right {
    display: inline;
    float: right;
}
ion-avatar, .custom-avatar{
    &.rounded {
        img{
            border-radius: 50%;
        }

    }
}

.item-md, .item-ios {
    ion-avatar {
        min-height: 4rem;
        min-width: 4rem;
    }
    p{
        color: $text-color;
    }
}

.mygolf-special-page-background, .mygolf-sign-in-page-background {
            //background: $white url(../assets/img/bg1.png), url(../assets/img/bg2.png), url(../assets/img/cover.png) no-repeat, repeat-x;
    // background-color: $background-color;
    // background: url(../assets/img/bg1.png), url(../assets/img/bg2.png), url(../assets/img/cover.png) !important;
    // background-repeat: no-repeat, repeat-x, repeat-x !important;
    // background-position: right bottom, left bottom, left top !important;
    // background-size: 100px, 40px, 200px !important;

    background-image: url(/assets/img/mg2u-logo-fade.svg);
    background-repeat: no-repeat;
    background-position: bottom center;
      background-position-y: calc(80%);
}


.logged-in-user {
    color: $danger !important;
}

.mygolf-page-background {
    background-color: $background-color;
}
.button-panel{
    text-align: center;
}
.mg-ph { //player-home
    background-size: 20px 20px;
    padding-right: 30px;
    background-repeat: no-repeat;
}

.mg-flag-blue {
    background-image: url("../assets/img/icons/flag_blue.png");
}

.mg-chart-bar {
    background-image: url("../assets/img/icons/chart_bar.png");
}

.mg-edit {
    background-image: url("../assets/img/icons/edit.png");
}

.mg-friends {
    background-image: url("../assets/img/icons/friends.png");
}

.mg-trophy {
    background-image: url("../assets/img/icons/trophy.png");
}
.mg-txt-left {
    text-align: left;
}

.mg-txt-right {
    text-align: right;
}
.mg-m2u {
    background-image: url("../assets/img/icons/logo-mygolf2u.png");
  }
.list-header {
    color: $text-color;
    font-weight: bold;
    border-top: none;
    border-bottom: solid 1px $border-color;
}

.item-divider-ios, .item-divider-md {
    color: $text-color;
    font-weight: bold;
}
.toolbar {
    .toolbar-title-md {
        color:#5DBC81
        //text-align: center;
    }
    .toolbar-title-ios {
        color:#5DBC81
        //text-align: center;
    }
    .toolbar-title {
        color:#5DBC81
        //text-align: center;
    }
    .bar-buttons-md[start]{
        order: 1;
    }
    ion-segment {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        .segment-button {
            max-width: 100px;
            height: 2.6rem;
            font-size: 1.2rem;
            line-height: 2.5rem;
        }
    }

}
.swiper-container-horizontal > .swiper-pagination {
    bottom: 0px;
    left: 0;
    width: 100%;
}
ion-segment.segment-md, ion-segment.segment-ios, ion-segment.segment-wp {
    @include flex-display($flex:1, $align-items:center, $justify-content:center);
    width: 100%;
    .segment-button {
        @include flex-display($flex:1);
        width: 0;
        height: 2.6rem;
        //border: solid #30BB5B 1px;
        border: solid $segment-button-border-color 1px;
        font-size: 1.2rem;
        line-height: 2.5rem;
        color: $segment-button-text-color;
        //color: $primary;//darken($primary, 30%);
        //background-color: #FFFFFF;
        background-color: $segment-button-background-color;
        &.segment-activated {
            color: $segment-activated-button-text-color;
            background-color: $segment-activated-button-background-color;
            //background-color: $primary;//darken($primary, 30%);
            opacity: 1;
            -webkit-transition: 100ms all linear;
            transition: 100ms all linear;
            @include transition(100ms all linear);
        }
        &:not(:first-of-type) {
            border-left-width: 0;
        }
        &:first-of-type {
            margin-right: 0;
            border-radius: 4px 0 0 4px;
        }
        &:last-of-type {
            margin-left: 0;
            border-left-width: 0;
            border-radius: 0 4px 4px 0;
        }
    }
}
.ios, .md , .wp{
    .label-md, .label-ios, label-wp {
        margin: 3px 0px;
    }
    .item-input {
        .label-ios{
            color: gray;
        }
    }
    .item-md, .item-ios, .item-wp {
        &.item-block {
            padding-right: inherit;
            background: white;
            border-bottom: solid 1px $border-color;
            &.small-text {
                font-size: small;
            }
            &.gradient {
                padding-right: inherit;
                @extend %gradient-item;
                border-bottom: none;
            }
            &.page-sub-title {
                background: $page-sub-title;
                color: $page-sub-title-text;
                padding-left: 5px;
                border-bottom: none;

                &.align-center {
                    text-align: center;
                }
            }
            &.game-scoring {
                @include linear-gradient($danger, darken($danger, 30%));
                @extend %special-item;
                p {
                    color: $inverse-text-color;
                    font-size: smaller;
                }
                p:first-child {
                    font-size: medium;
                }
                ion-label {
                    margin: 3px 5px;
                }
                h2 {
                    color: $inverse-text-color;
                }
            }
            &.shorter-height{
                .item-inner{
                    @extend %mygolf-item-inner;
                    min-height: 25px;
                }
            }
            .item-inner {
                @extend %mygolf-item-inner;
            }
        }

    }
    ion-card.mygolf-table, ion-grid.mygolf-table, ion-list.mygolf-table{
        &.flat-table{
            margin: 0px;
            width: 100%;
            box-shadow: none;
        }
        .mygolf-table-title, .mygolf-header {
            @extend %table-title;
            padding: 5px;
        }
        .mygolf-table-caption{
            @extend %table-caption;
        }
        ion-card-content{
            padding: 0px;
        }
        ion-item, ion-row {
            &.mygolf-table-header{
                @extend %table-header;
                //padding: 1rem;
                padding-left: 5px;
                line-height: 4rem;
            }
            &.mygolf-table-row{
                @extend %table-row;
                padding-left: 5px;
            }
            &.mygolf-table-row-alt{
                @extend %table-alternate-row;
                padding-left: 5px;
            }
        }
    }
    .loading-md, .loading-ios, .loading-wp {
        .loading-wrapper {
            @extend .mygolf-loading-wrapper;

        }

        .spinner-ios, .spinner-ios-small {
            line {
                stroke: $primary;
            }
        }
        .spinner-bubbles, .spinner-circles, .spinner-crescent, .spinner-dots {
            circle {
                fill: $primary
            }
        }
        .spinner-crescent circle {
            stroke: $primary
        }
    }
}

.ios {
    .ion-page.show-page ~ .nav-decor {
        background: #fff;
    }
    .item-ios {
        color: $text-color;
    }
}

.md {

}
ion-buttons{
    .bar-button{
        margin: $toolbar-button-margin;
        &.bar-button-md[icon-only], .bar-button-ios[icon-only]  {
            ion-icon{
                padding: 0 .1em;
                min-width: 28px;
                font-size: 2em;
                line-height: .67;
                pointer-events: none;
            }

        }
    }

}

.header-md::after,
.tabs-md[tabsPlacement="top"] > .tabbar::after,
.footer-md::before,
.tabs-md[tabsPlacement="bottom"] > .tabbar::before {
  content: none;
}

div.scroll-content {
    // height: calc(100% - 7em);
    height: calc(100% - 12rem); //16rem
    padding-bottom: 4em;
}

.mg2u-navbar {
    text-align: center;
    max-height: 3.5rem;
    border-bottom-left-radius: 2em;
    // border: none;
    border-bottom-right-radius: 2em;
    align-items: center;
    border-style: solid;
    border-top: none;
    border-color: #5DBC81;
    border-width: 2px;
}
.mg2u-logo {
    // height: 3.5em;
    margin-top: 1em;
    height: 4rem !important;
}

button.bar-button {
    color: $primary;
}

.toolbar-background.toolbar-background-md,
.toolbar-background.toolbar-background-ios {
    background-color: #DDF6D6 !important;
}

.footer-icons {
    height: 5rem !important;
    padding: 1rem !important;
}
.footer-icons.footer-mg2u-logo {
    padding: 0 !important;
}


//.bar-button-default {
//    color: #fff !important;
//    font-size:1.3rem !important;
//}

// .mg-lg2x-avatar {
//     img {
//         width: 200% !important;
//         height: 200% !important;
//     }
// }

// ion-card.mg-custom-card {
//   margin: 3px !important;
//   width: calc(100% -6px) !important;
// }


/* in-flight clone */
// .gu-mirror {
//     position: fixed !important;
//     margin: 0 !important;
//     z-index: 9999 !important;
//     opacity: 0.8;
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
//     filter: alpha(opacity=80);
//     pointer-events: none;
//   }
//   /* high-performance display:none; helper */
//   .gu-hide {
//     left: -9999px !important;
//   }
//   /* added to mirrorContainer (default = body) while dragging */
//   .gu-unselectable {
//     -webkit-user-select: none !important;
//     -moz-user-select: none !important;
//     -ms-user-select: none !important;
//     user-select: none !important;
//   }
//   /* added to the source element while its mirror is dragged */
//   .gu-transit {
//     opacity: 0.2;
//     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
//     filter: alpha(opacity=20);
//   }

// html[theme='dark-mode'] img{
//     filter: invert(1) hue-rotate(180deg);
// }

// html {
//     transition: color 300ms, background-color 300ms;
// }


  .booking-error {
    .alert-wrapper {
        // height: 80% !important;
        max-width: 90% !important;
        
        .alert-head {
          background-color: $danger !important;
        }
      }
  
      .alert-message {
        // -webkit-user-select: text;
        // -moz-user-select: text;
        // -ms-user-select: text;
        // user-select: text;
        // max-height: 100% !important;
      }
  }

  .btn-back {
    background: url(../assets/img/prev.png) no-repeat;
    background-size: 1.5em;
    // transform: translate(10px, 10px);
    transform: translate(12px, 15px);
    }
    .btn-next {
        background: url(../assets/img/prev.png) no-repeat;
        background-size: 1.5em;
        transform: scale(-1,1) translate(12px, 15px);
    }