booking-home-page {

  //.css-calendar {
  //  color: #D92929;
  //  padding-right: 5px;
  //}
  //.friend-row {
  //  @extend .custom-item;
  //}
  //.custom-avatar-img {
  //  min-width: 4rem;
  //  min-height: 4rem;
  //}

  //[item-left] {
  //  background-image: none;
  //}
  .male {
    color: $skyblue;
  }

  .female {
    color: $eagle-color;
  }

  ion-segment-button.segment-button {
    max-width: 15em !important;
  }

  ion-item.item-block.search {
    min-height: 10.4rem !important;
  }

  .page-sub-title {
    // background-color: #30bb5b !important;
    background: none !important;
    color: black !important;
    // color: white !important;
    // text-align: center;
    // font-weight: bold;
  }

  .time-slot-subheader {
    // background-color: #30bb5b !important;

    background-color: #cde2c3 !important;

    color: black;
    text-align: center;
    font-weight: bold;
  }

  .mygolf-table-caption {
    text-align: center;
    font-weight: bold;
    background-color: #cde2c3 !important;
    color: black !important;
  }

  .small-label {
    // color: #30bb5b;
    margin: 3px 0px;
    // font-size: 1.2rem;
    font-size: 1.8rem;
    font-weight: bold;
  }

  ion-item.booking-option.item-block {
    // min-height: 1em !important;
    // height: 3em !important;
  }

  ion-segment-button.segment-button {
    height: 3em !important;
  }

  ion-segment.segment-md .segment-button.segment-activated,
  ion-segment.segment-ios .segment-button.segment-activated,
  ion-segment.segment-wp .segment-button.segment-activated,
  ion-segment.segment-button.segment-activated {
    border-color: transparent;
    letter-spacing: 2px;
  }

  .booking-button {
    letter-spacing: 2px;
    width: 14rem;
  }

  .margin-zero {
    margin: 0;
  }

 .booking-date {
   font-size: large; 
   color: #42B06D !important;
   text-align: center;
   letter-spacing: 1px;
  //  padding-left:13rem;
 }

  @media only screen and (max-device-width: 320px) 
  and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .booking-date {
      font-size: large; 
   color: #42B06D !important;
   text-align: center;
   letter-spacing: 1px;
   padding-left:8rem;
    }
  }

  // <i class="far fa-fw fa-calendar-alt"></i>
  // .datetime-text::before {
  //   content: "\f073";
  //     font-family: FontAwesome;
  // }
  .grecaptcha-badge {
    width: 70px !important;
    overflow: hidden !important;
    transition: all 0.3s ease !important;
    left: -2px !important;
    bottom: 20px !important;
    }
    
    .grecaptcha-badge:hover {
    width: 256px !important;
    }

    button.bar-button {
      color: $primary;
  }
  .toolbar-background.toolbar-background-md,
  .toolbar-background.toolbar-background-ios {
      background-color: #DDF6D6 !important;
  }

  .btn-back {
      background: url(../assets/img/prev.png) no-repeat;
      background-size: 1.5em;
      // transform: translate(10px, 10px);
      transform: translate(12px, 15px);
  }
  .btn-next {
      background: url(../assets/img/prev.png) no-repeat;
      background-size: 1.5em;
      transform: scale(-1,1) translate(12px, 15px);
  }
}