<ion-header>
    <ion-navbar class="mg2u-navbar" hideBackButton>
        <ion-title>Manage Club Player Approvals</ion-title>
        <ion-buttons start (click)="close()">
            <button ion-button icon-only>
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end>
            <button ion-button icon-only *ngIf="optionTypes === 'discount'" (click)="refreshPrivilegeClick()">
                <i class="fa fa-fw fa-sync"></i>
            </button>
            <button ion-button icon-only *ngIf="optionTypes === 'membership'" (click)="refreshClubMemberslist()">
                <i class="fa fa-fw fa-sync"></i>
            </button>
        </ion-buttons>
    </ion-navbar>
    <!-- <ion-toolbar color="light"  > -->
    <!-- </ion-toolbar> -->
</ion-header>

<ion-content class="has-header">

    <ion-segment [(ngModel)]="optionTypes" color="warning" no-padding style="padding-top:1em; padding-bottom:1em">
        <ion-segment-button (click)="setOptionType(1)" value="membership">
            MEMBERSHIPS
        </ion-segment-button>
        <!-- <ion-segment-button (click)="setOptionType(2)" value="assign">
            ASSIGNMENT
        </ion-segment-button> -->
        <ion-segment-button (click)="setOptionType(3)" value="discount">
            PRIVILEGE CARDS
        </ion-segment-button>
        <!-- <ion-segment-button (click)="setOptionType(4)" value="playerTypes" disabled="true">
            PLAYER PROFILES
        </ion-segment-button> -->
    </ion-segment>
    <ion-searchbar *ngIf="optionTypes === 'membership'" placeholder="Search player by name, email, membership, id" focuser #searchBar [(ngModel)]="searchMembers"
                       debounce="1500"
                        [showCancelButton]="true">
                        <!-- (ionInput)="refreshClubMemberslist()" -->
        </ion-searchbar>

    <ion-searchbar *ngIf="optionTypes === 'discount' && innerWidth < 768" placeholder="Search card by # id, name, email" focuser #searchBar [(ngModel)]="searchPrivilege"
                    debounce="1500"
                    [showCancelButton]="true">
                    <!-- (ionInput)="refreshClubMemberslist()" -->
    </ion-searchbar>
    <ion-row no-padding>

    </ion-row>
    <ion-item *ngIf="optionTypes === 'discount' && innerWidth < 768">
        <ion-label>
            <i class="fas fa-fw fa-users"></i>
            <span>Show details</span>
        </ion-label>
        <ion-checkbox style="margin:1rem;" [(ngModel)]="expandPrivDetails"></ion-checkbox>
        <!-- [checked]="checkFilterBookingStatus(status)" -->
    </ion-item>

    <ion-grid *ngIf="innerWidth < 768" fixed>
        <ion-list *ngIf="optionTypes === 'discount'">
            <div *ngIf="1">
                <ion-list radio-group>
                    <ion-item>
                    <ion-label>Show All</ion-label>
                    <ion-radio [checked]="showPrivAll" (click)="setShowPriv('all')"></ion-radio>
                    </ion-item>
                    <ion-item>
                    <ion-label>Show Approved Only</ion-label>
                    <ion-radio [checked]="showPrivAppOnly"  (click)="setShowPriv('approved')"></ion-radio>
                    </ion-item>
                    <ion-item >
                        <ion-label>Show Pending Only</ion-label>
                        <ion-radio [checked]="showPrivPendingOnly"  (click)="setShowPriv('pending')"></ion-radio>
                        </ion-item>
               </ion-list >
            <ion-item (click)="onSearchDiscountCompany()">
                <ion-label>{{getDiscountCompanyName()?getDiscountCompanyName():'Tap here to View by Discount Company'}}</ion-label>
            </ion-item>
            

            <ion-item *ngIf="discountPrograms && discountPrograms.length > 0">
                <ion-label>Select Discount Program</ion-label>
                <ion-select style="max-width:100%" [(ngModel)]="selectedDiscountProgram"
                    (ionChange)="getSelectedDiscountProgram()">
                    <ng-container *ngFor="let program of discountPrograms">
                        <ion-option [value]="program.id">{{program.name}}</ion-option>
                    </ng-container>
                </ion-select>
            </ion-item>
            <ion-item *ngIf="!togglePrivDetails && discountPrograms && discountPrograms.length > 0 && selDP"
                style="background-color: #DDF6D6 !important;
                border-style: solid;
                border-color: #5DBC81;
                border-width: 1px;
                border-radius: 1em;">
                <b item-start>{{getCompanyProgramDetails(selDP, 'company')}}</b>
                <button (click)="togglePrivDetails = true" item-end ion-button>See details</button> 
            </ion-item>
            <ion-item *ngIf="togglePrivDetails && discountPrograms && discountPrograms.length > 0 && selDP"
                style="background-color: #DDF6D6 !important;
                border-style: solid;
                border-color: #5DBC81;
                border-width: 1px;
                border-radius: 1em;">
                <ion-row>
                    <ion-col>
                        <b>{{getCompanyProgramDetails(selDP, 'company')}}</b>
                        <ul>
                            <!-- <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'verified')}}</li> -->
                            <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'name')}}</li>
                            <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'description')}}</li>
                            <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'launchedOn')}}</li>
                            <li>Valid <b>{{getDateText(selDP.validFrom)}}</b> to <b>{{getDateText(selDP.validUntil)}}</b>
                            </li>
                            <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'amount')}}</li>
                        </ul>

                    </ion-col>
                    <ion-col col-3>
                <button ion-button small (click)="togglePrivDetails = false" color="danger">Close</button>
                    </ion-col>
                </ion-row>
                <!-- <button ion-button block (click)="togglePrivDetails = false" color="danger">Close</button> -->
            </ion-item>
            <!-- <ion-item>
            <button ion-button block (click)="getAllDiscountCardApplications()">
                Get all discount card applications for program id
            </button>
        </ion-item> -->
            <!-- <button ion-button block (click)="initAllDiscountCardApplications()">
                Get all discount card applications
            </button> -->
        </div>
        <ng-container *ngIf="approvedPDP && approvedPDP.length === 0 && pendingPDP && pendingPDP.length === 0">
            <b style="white-space: normal">Currently, there is no Privilege card request <span *ngIf="getDiscountCompanyName()">for this Discount Company / Program.</span></b>
        </ng-container>
            <ng-container *ngFor="let prog of listDiscountPrograms">
                <!-- <ion-list-header> -->
                    <button ion-button block color="secondary">
                        {{prog.discountCompany.name}} - {{prog.name}}
                    </button>
                <!-- </ion-list-header> -->
                <!-- <ng-container *ngIf="approvedPDP && approvedPDP.length === 0 || pendingPDP && pendingPDP.length === 0">
                    <b style="white-space: normal">Currently, there is no Privilege card request for this {{prog.name}}.</b>
                </ng-container> -->
                <ng-container *ngIf="pendingPDP && pendingPDP.length > 0">
                    <ion-card  *ngFor="let pdp of getPendingPDP(prog)">
                        <ion-row justify-content-between>
                            <ion-col>
                                {{getProgramDetails(pdp.playerDiscountProgram, 'playerName')}}
                                #{{getProgramDetails(pdp.playerDiscountProgram, 'playerId')}}
                                <ul no-margin class="no-bullets">
                                    <li><b>{{getProgramDetails(pdp.playerDiscountProgram, 'company')}} | {{getProgramDetails(pdp.playerDiscountProgram, 'name')}}</b></li>
                                    <li><i class="fas fa-fw fa-hashtag"></i>ID :
                                        {{getProgramDetails(pdp.playerDiscountProgram, 'membershipNo')}}</li>
                                    <li *ngIf="getProgramDetails(pdp.playerDiscountProgram,'verifiedByCompany')">Verified On
                                        : {{getProgramDetails(pdp.playerDiscountProgram, 'verifiedOn')}}</li>
                                        <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')">
                                            <i class="fas fa-fw fa-phone"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')}}
                                        </li>
                                        <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')">
                                            <i class="fas fa-fw fa-at"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')}}
                                        </li>
                                    <li *ngIf="pdp.playerDiscountProgram.document"><i class="fas fa-fw fa-paperclip"></i>Has document attached</li>
                                    <li *ngIf="pdp.validFrom">Valid From : {{getDateText(pdp.validFrom)}}</li>
                                    <li *ngIf="pdp.validUntil">Valid Until : {{getDateText(pdp.validUntil)}}</li>
                                    <li *ngIf="pdp.dateApplied">Requested Date : {{getDateText(pdp.dateApplied)}}</li>

                                </ul>
                            </ion-col>
                            <ion-col col-4 text-right style="margin-right:1em">
                                <div class="row">
                                    <div class="column card-right">
                                        <b >{{getExpiryDate(pdp, 'program')}}</b><br>
                                        <!-- style="margin-left: -4em" -->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column card-right">
                                        <img loading=lazy *ngIf="pdp.playerDiscountProgram.document" (click)="onZoomImage(pdp.playerDiscountProgram.document)" 
                                        class="document-image" [src]="pdp.playerDiscountProgram.document" />
                                            </div>
                                </div>
                                <div class="row">
                                    <div class="column card-right">
                                        <b style="color:red"><i class="fas fa-fw fa-hourglass-start"></i>Pending</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column card-right">
                                        <button item-end ion-button outline small
                                        (click)="onPrivilegeCardApprove(pdp.playerDiscountProgram)">
                                        <!-- *ngIf="!getProgramDetails(pdp,'verifiedByCompany')" -->
                                        <!-- (click)="addPlayerTypes()" -->
                                        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approve
                                    </button>
                                        </div>
                                </div>
                                <!-- <button ion-button outline (click)="onEditClick('playerDiscount')" ><i class="far fa-fw fa-edit"></i></button> -->
                                <!-- <button ion-button outline (click)="onRemoveClick(pdp,'playerDiscount')" color="danger"><i class="far fa-fw fa-trash-alt"></i></button> -->
                                <!-- style="padding:0; padding-right: 1em"  -->
                            </ion-col>
                        </ion-row>
                    </ion-card>

                </ng-container>
                <ng-container *ngIf="approvedPDP && approvedPDP.length > 0">
                    <ion-card  *ngFor="let pdp of getApprovedPDP(prog)">
                        <ion-row justify-content-between>
                            <ion-col>
                                
                                {{getProgramDetails(pdp.playerDiscountProgram, 'playerName')}}
                                #{{getProgramDetails(pdp.playerDiscountProgram, 'playerId')}}
                                <ul no-margin class="no-bullets">
                                    <li><b>{{getProgramDetails(pdp.playerDiscountProgram, 'company')}} | {{getProgramDetails(pdp.playerDiscountProgram, 'name')}}</b></li>
                                    <!-- <li>by {{getProgramDetails(pdp.playerDiscountProgram, 'company')}}</li> -->
                                    <li><i class="fas fa-fw fa-hashtag"></i>ID :
                                        {{getProgramDetails(pdp.playerDiscountProgram, 'membershipNo')}}</li>
                                    <li *ngIf="getProgramDetails(pdp.playerDiscountProgram,'verifiedByCompany')">Verified On
                                        : {{getProgramDetails(pdp.playerDiscountProgram, 'verifiedOn')}}</li>
                                        <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')">
                                            <i class="fas fa-fw fa-phone"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')}}
                                        </li>
                                        <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')">
                                            <i class="fas fa-fw fa-at"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')}}
                                        </li>
                                    <li *ngIf="pdp.playerDiscountProgram.document"><i class="fas fa-fw fa-paperclip"></i>Has document attached</li>
                                    <li *ngIf="pdp.validFrom">Valid from : {{getDateText(pdp.validFrom)}}</li>
                                    <li *ngIf="pdp.validUntil">Valid until : {{getDateText(pdp.validUntil)}}</li>
                                    <li *ngIf="pdp.approvedBy && pdp.dateApplied">Requested Date : {{getDateText(pdp.dateApplied)}}</li>
                                    <li *ngIf="pdp.approvedBy && pdp.dateApproved">Approved Date : {{getDateText(pdp.dateApproved)}} </li>
                                    <!-- by {{pdp&&pdp.approvedBy?pdp.approvedBy.name:''}} -->
                                    <li *ngIf="pdp.approvedBy && pdp.dateApproved">Approved By : {{pdp&&pdp.approvedBy?pdp.approvedBy.name:''}} </li>
                
                                </ul>
                            </ion-col>
                            <ion-col col-4 text-right  style="margin-right:1em">
                                <div class="row">
                                    <div class="column card-right">
                                        <b >{{getExpiryDate(pdp, 'program')}}</b>
                                    </div></div>
                                <!-- style="margin-left: -4em" -->
                                <div class="row">
                                    <div class="column card-right">
                                        <img loading=lazy *ngIf="pdp.playerDiscountProgram.document" (click)="onZoomImage(pdp.playerDiscountProgram.document)" 
                                        class="document-image" [src]="pdp.playerDiscountProgram.document" />
                                    </div>
                                </div>
                                <!-- <button ion-button outline (click)="onEditClick('playerDiscount')" ><i class="far fa-fw fa-edit"></i></button> -->
                                <!-- <button ion-button outline (click)="onRemoveClick(pdp,'playerDiscount')" color="danger"><i class="far fa-fw fa-trash-alt"></i></button> -->
                                <!-- style="padding:0; padding-right: 1em"  -->
                                <div class="row">
                                    <div class="column card-right">
                                        <b style="color:#5DBC81"><i class="fas fa-fw fa-thumbs-up"></i>Approved</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="column card-right">
                                        <button item-end ion-button outline small
                                        (click)="onPrivilegeCardUndoApprove(pdp.playerDiscountProgram)" color="danger">
                                        <!-- *ngIf="!getProgramDetails(pdp,'verifiedByCompany')" -->
                                        <!-- (click)="addPlayerTypes()" -->
                                        <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Undo
                                    </button>
                                    </div>
                            </div>
                            </ion-col>
                        </ion-row>
                    </ion-card>
                </ng-container>
            </ng-container>
        </ion-list>


        <ion-list *ngIf="optionTypes==='membership'">
            <!-- <ion-list-header class="list-header">Members List</ion-list-header>
    
            <button  ion-item *ngFor="let member of clubMembers" (click)="memberSelected(member.player)">
                <ion-avatar style="height: 32px; width: 32px" item-left>
                    <img src="{{getImage(member)}}" >
                </ion-avatar>
                <h2>{{member.player.playerName?member.player.playerName:member.player.firstName}} {{!member.player.playerName && member.player.lastName?' '+member.player.lastName:''}}</h2>
                <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='M'"><i class="fa fa-mars fa-2x"
                        aria-hidden="true"></i></span>
                <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='F'"><i class="fa fa-venus fa-2x" aria-hidden="true"></i></span>
            </button> -->
    
            <ion-list-header class="list-header">
                <ion-label item-start>Members</ion-label> 
                <button ion-button outline item-end (click)="onFilterMembershipStatus()">Displaying {{memberFilterStatus}} </button>
            </ion-list-header>
            <!-- <ion-item *ngIf="!searchPlayers && clubMembers && clubMembers.length === 0">
                <ion-label>Enter a string to search members above</ion-label>
            </ion-item> -->
            <ng-container *ngIf="clubMembers && clubMembers.length > 0">
                <!-- <ion-item *ngFor="let member of clubMembers" > -->
                <ion-item *ngFor="let member of getClubMembers()" >
                    <ion-avatar (click)="onMemberDetails(member)" style="height: 32px; width: 32px" item-left>
                        <img src="{{getImage(member.player)}}" >
                    </ion-avatar>
                    <h2 (click)="onMemberDetails(member)">{{member.player.playerName}} (#{{member.player.id}})</h2>
                    <h3 >
                        <!-- (click)="openMembershipOptions(member)" -->
                        <span  *ngIf="member.homeClub"><ion-icon name="home" style="color:green;font-size:18px"></ion-icon>&nbsp;</span>
                        M'ship No : {{member.membershipNumber}}</h3>
                    <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='M'"><i class="fa fa-mars fa-2x"
                            aria-hidden="true"></i></span>
                    <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='F'"><i class="fa fa-venus fa-2x" aria-hidden="true"></i></span>
                    <button (click)="onUpdateMemberStatus(member,'suspend')" color="danger" *ngIf="getMemberStatus(member) === 'Active'" item-right ion-button outline>
                        <!--  (click)="onAddMulti(member.player)" --> 
                        <i class="fas fa-fw fa-times"></i>
                    </button>
                    <button (click)="onUpdateMemberStatus(member,'active')" *ngIf="getMemberStatus(member) !== 'Active'" item-right ion-button outline>
                        <!--  (click)="onAddMulti(member.player)" -->
                        <i class="fas fa-fw fa-check"></i>
                    </button>
                </ion-item>
            </ng-container>
            
            <!-- <ion-item *ngIf="searchPlayers && players && players.length === 0" color="danger">
                <ion-label>No player with name matching search string</ion-label>
            </ion-item> -->
    
        </ion-list>
    </ion-grid>
    <ion-grid *ngIf="innerWidth >= 768">
        <ion-list *ngIf="optionTypes === 'discount'">
            <div *ngIf="1">
                <ion-row col-12 no-padding>
                    <ion-col col-4 no-padding>
                        <ion-searchbar *ngIf="optionTypes === 'discount' && innerWidth >= 768" placeholder="Search card by # id, name, email" focuser #searchBar [(ngModel)]="searchPrivilege"
                                debounce="1500"
                                [showCancelButton]="true">
                                <!-- (ionInput)="refreshClubMemberslist()" -->
                        </ion-searchbar>
                            
                    <ion-item>
                        <ion-label>
                            <i class="fas fa-fw fa-users"></i>
                            <span>Show details</span>
                        </ion-label>
                        <ion-checkbox style="margin:1rem;" [(ngModel)]="expandPrivDetails"></ion-checkbox>
                        <!-- [checked]="checkFilterBookingStatus(status)" -->
                    </ion-item>
                    
                    <ion-list radio-group>
                        <ion-item>
                        <ion-label>Show All</ion-label>
                        <ion-radio [checked]="showPrivAll" (click)="setShowPriv('all')"></ion-radio>
                        </ion-item>
                        <ion-item>
                        <ion-label>Show Approved Only</ion-label>
                        <ion-radio [checked]="showPrivAppOnly" (click)="setShowPriv('approved')"></ion-radio>
                        </ion-item>
                        <ion-item >
                        <ion-label>Show Pending Only</ion-label>
                        <ion-radio [checked]="showPrivPendingOnly" (click)="setShowPriv('pending')"></ion-radio>
                        </ion-item>
                   </ion-list >
                        <ion-item (click)="onSearchDiscountCompany()">
                            <ion-label>{{getDiscountCompanyName()?getDiscountCompanyName():'Tap here to View by Discount Company'}}</ion-label>
                        </ion-item>
                        <ion-item *ngIf="discountPrograms && discountPrograms.length > 0">
                            <ion-label>Select Discount Program</ion-label>
                            <ion-select style="max-width:100%" [(ngModel)]="selectedDiscountProgram"
                                (ionChange)="getSelectedDiscountProgram()">
                                <ng-container *ngFor="let program of discountPrograms">
                                    <ion-option [value]="program.id">{{program.name}}</ion-option>
                                </ng-container>
                            </ion-select>
                        </ion-item>
                        <ion-item *ngIf="!togglePrivDetails && discountPrograms && discountPrograms.length > 0 && selDP"
                            style="background-color: #DDF6D6 !important;
                            border-style: solid;
                            border-color: #5DBC81;
                            border-width: 1px;
                            border-radius: 1em;">
                            <b item-start>{{getCompanyProgramDetails(selDP, 'company')}}</b>
                            <button (click)="togglePrivDetails = true" item-end ion-button>See details</button> 
                        </ion-item>
                        
                        <ion-item *ngIf="togglePrivDetails && discountPrograms && discountPrograms.length > 0 && selDP"
                            style="background-color: #DDF6D6 !important;
                            border-style: solid;
                            border-color: #5DBC81;
                            border-width: 1px;
                            border-radius: 1em;">
                            <ion-row>
                                <ion-col>
                                    <b>{{getCompanyProgramDetails(selDP, 'company')}}</b>
                                    <ul>
                                        <!-- <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'verified')}}</li> -->
                                        <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'name')}}</li>
                                        <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'description')}}</li>
                                        <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'launchedOn')}}</li>
                                        <li>Valid <b>{{getDateText(selDP.validFrom)}}</b> to <b>{{getDateText(selDP.validUntil)}}</b>
                                        </li>
                                        <li *ngIf="selDP">{{getCompanyProgramDetails(selDP, 'amount')}}</li>
                                    </ul>

                                </ion-col>
                                <ion-col col-3>
                            <button ion-button small (click)="togglePrivDetails = false" color="danger">Close</button>
                                </ion-col>
                            </ion-row>
                            <!-- <button ion-button block (click)="togglePrivDetails = false" color="danger">Close</button> -->
                        </ion-item>

                    </ion-col>
                    <ion-col col-8 no-padding>
                        <ng-container *ngIf="approvedPDP && approvedPDP.length === 0 && pendingPDP && pendingPDP.length === 0">
                            <b style="white-space: normal">Currently, there is no Privilege card request <span *ngIf="getDiscountCompanyName()">for this Discount Company / Program.</span></b>
                        </ng-container>
                            <ng-container *ngFor="let prog of listDiscountPrograms">
                                
                                <!-- <ion-list-header> -->
                                    <button ion-button block color="secondary">
                                        {{prog.discountCompany.name}} - {{prog.name}}
                                    </button>
                                <!-- </ion-list-header> -->
                                <ng-container *ngIf="pendingPDP && pendingPDP.length > 0">
                                    <!-- <ion-item-header *ngIf="pendingPDP && pendingPDP.length > 0">
                                        <button ion-button block outline color="danger">
                                            Pending Privilege Card(s)
                                        </button>
                                    </ion-item-header> -->
                                    <ion-card  *ngFor="let pdp of getPendingPDP(prog)">
                                        <ion-row justify-content-between>
                                            <ion-col>
                                                {{getProgramDetails(pdp.playerDiscountProgram, 'playerName')}}
                                                #{{getProgramDetails(pdp.playerDiscountProgram, 'playerId')}}
                                                <ul no-margin class="no-bullets">
                                                    <li><b>{{getProgramDetails(pdp.playerDiscountProgram, 'company')}} | {{getProgramDetails(pdp.playerDiscountProgram, 'name')}}</b></li>
                                                    <!-- <li>by {{getProgramDetails(pdp.playerDiscountProgram, 'company')}}</li> -->
                                                    <li><i class="fas fa-fw fa-hashtag"></i>ID :
                                                        {{getProgramDetails(pdp.playerDiscountProgram, 'membershipNo')}}</li>
                                                    <li *ngIf="getProgramDetails(pdp.playerDiscountProgram,'verifiedByCompany')">Verified On
                                                        : {{getProgramDetails(pdp.playerDiscountProgram, 'verifiedOn')}}</li>
                                                        <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')">
                                                            <i class="fas fa-fw fa-phone"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')}}
                                                        </li>
                                                        <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')">
                                                            <i class="fas fa-fw fa-at"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')}}
                                                        </li>
                                                        <ng-container *ngIf="expandPrivDetails">
                                                    <li *ngIf="pdp.playerDiscountProgram.document"><i class="fas fa-fw fa-paperclip"></i>Has document attached</li>
                                                    <li *ngIf="pdp.validFrom">Valid From : {{getDateText(pdp.validFrom)}}</li>
                                                    <li *ngIf="pdp.validUntil">Valid Until : {{getDateText(pdp.validUntil)}}</li>
                                                    <li *ngIf="pdp.dateApplied">Requested Date : {{getDateText(pdp.dateApplied)}}</li>
                                                </ng-container>
                
                                                </ul>
                                            </ion-col>
                                            <ion-col col-4 text-right style="margin-right:1em">
                                                <div class="row">
                                                    <div class="column card-right">
                                                        <b >{{getExpiryDate(pdp, 'program')}}</b><br>
                                                        <!-- style="margin-left: -4em" -->
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="column card-right">
                                                        <img loading=lazy *ngIf="pdp.playerDiscountProgram.document" (click)="onZoomImage(pdp.playerDiscountProgram.document)" 
                                                        class="document-image" [src]="pdp.playerDiscountProgram.document" />
                                                            </div>
                                                </div>
                                                <div class="row">
                                                    <div class="column card-right">
                                                        <b style="color:red"><i class="fas fa-fw fa-hourglass-start"></i>Pending</b>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="column card-right">
                                                        <button item-end ion-button outline small
                                                        (click)="onPrivilegeCardApprove(pdp.playerDiscountProgram)">
                                                        <!-- *ngIf="!getProgramDetails(pdp,'verifiedByCompany')" -->
                                                        <!-- (click)="addPlayerTypes()" -->
                                                        <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Approve
                                                    </button>
                                                        </div>
                                                </div>
                                                <!-- <button ion-button outline (click)="onEditClick('playerDiscount')" ><i class="far fa-fw fa-edit"></i></button> -->
                                                <!-- <button ion-button outline (click)="onRemoveClick(pdp,'playerDiscount')" color="danger"><i class="far fa-fw fa-trash-alt"></i></button> -->
                                                <!-- style="padding:0; padding-right: 1em"  -->
                                            </ion-col>
                                        </ion-row>
                                    </ion-card>
                
                                </ng-container>
                                <!-- <ion-item-header *ngIf="approvedPDP && approvedPDP.length > 0">
                                    <button ion-button block outline>
                                        Approved Privilege Card(s)
                                    </button>
                                </ion-item-header> -->
                                <ng-container *ngIf="approvedPDP && approvedPDP.length > 0">
                                    <ion-row col-12 no-padding>
                                        <ion-col col-12 no-padding *ngFor="let pdp of getApprovedPDP(prog)">
                                            <ion-card>
                                                <ion-row justify-content-between>
                                                    <ion-col>
                                                        
                                                        {{getProgramDetails(pdp.playerDiscountProgram, 'playerName')}}
                                                        #{{getProgramDetails(pdp.playerDiscountProgram, 'playerId')}}
                                                        <ul no-margin class="no-bullets">
                                                            <li><b>{{getProgramDetails(pdp.playerDiscountProgram, 'company')}} | {{getProgramDetails(pdp.playerDiscountProgram, 'name')}}</b></li>
                                                            <!-- <li>by {{getProgramDetails(pdp.playerDiscountProgram, 'company')}}</li> -->
                                                            <li><i class="fas fa-fw fa-hashtag"></i>ID :
                                                                {{getProgramDetails(pdp.playerDiscountProgram, 'membershipNo')}}</li>
                                                            <li *ngIf="getProgramDetails(pdp.playerDiscountProgram,'verifiedByCompany')">Verified On
                                                                : {{getProgramDetails(pdp.playerDiscountProgram, 'verifiedOn')}}</li>
                                                                <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')">
                                                                    <i class="fas fa-fw fa-phone"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerPhone')}}
                                                                </li>
                                                                <li *ngIf="getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')">
                                                                    <i class="fas fa-fw fa-at"></i>{{getProgramDetails(pdp.playerDiscountProgram, 'playerEmail')}}
                                                                </li>
                                                            <li *ngIf="pdp.playerDiscountProgram.document"><i class="fas fa-fw fa-paperclip"></i>Has document attached</li>
                                                            <ng-container *ngIf="expandPrivDetails">
                                                                <li *ngIf="pdp.approvedBy && pdp.validFrom">Valid From : {{getDateText(pdp.validFrom)}}</li>
                                                                <li *ngIf="pdp.approvedBy && pdp.validUntil">Valid Until : {{getDateText(pdp.validUntil)}}</li>
                                                                <li *ngIf="pdp.approvedBy && pdp.dateApplied">Requested Date : {{getDateText(pdp.dateApplied)}}</li>
                                                                <li *ngIf="pdp.approvedBy && pdp.dateApproved">Approved Date : {{getDateText(pdp.dateApproved)}} </li>
                                                                <!-- by {{pdp&&pdp.approvedBy?pdp.approvedBy.name:''}} -->
                                                                <li *ngIf="pdp.approvedBy && pdp.dateApproved">Approved By : {{pdp&&pdp.approvedBy?pdp.approvedBy.name:''}} </li>
                                                            </ng-container>
                                        
                                                        </ul>
                                                    </ion-col>
                                                    <ion-col col-4 text-right  style="margin-right:1em">
                                                        <div class="row">
                                                            <div class="column card-right">
                                                                <b >{{getExpiryDate(pdp, 'program')}}</b>
                                                            </div></div>
                                                        <!-- style="margin-left: -4em" -->
                                                        <div class="row">
                                                            <div class="column card-right">
                                                                <img loading=lazy *ngIf="pdp.playerDiscountProgram.document" (click)="onZoomImage(pdp.playerDiscountProgram.document)" 
                                                                class="document-image" [src]="pdp.playerDiscountProgram.document" />
                                                            </div>
                                                        </div>
                                                        <!-- <button ion-button outline (click)="onEditClick('playerDiscount')" ><i class="far fa-fw fa-edit"></i></button> -->
                                                        <!-- <button ion-button outline (click)="onRemoveClick(pdp,'playerDiscount')" color="danger"><i class="far fa-fw fa-trash-alt"></i></button> -->
                                                        <!-- style="padding:0; padding-right: 1em"  -->
                                                        <div class="row">
                                                            <div class="column card-right">
                                                                <b style="color:#5DBC81"><i class="fas fa-fw fa-thumbs-up"></i>Approved</b>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="column card-right">
                                                                <button item-end ion-button outline small
                                                                (click)="onPrivilegeCardUndoApprove(pdp.playerDiscountProgram)" color="danger">
                                                                <!-- *ngIf="!getProgramDetails(pdp,'verifiedByCompany')" -->
                                                                <!-- (click)="addPlayerTypes()" -->
                                                                <i class="fa fa-times" aria-hidden="true"></i>&nbsp;Undo
                                                            </button>
                                                            </div>
                                                    </div>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-card>

                                        </ion-col>
                                    </ion-row>
                                </ng-container>
                            </ng-container>

                    </ion-col>
                </ion-row>

            <!-- <ion-item>
            <button ion-button block (click)="getAllDiscountCardApplications()">
                Get all discount card applications for program id
            </button>
        </ion-item> -->
            <!-- <button ion-button block (click)="initAllDiscountCardApplications()">
                Get all discount card applications
            </button> -->
        </div>
        </ion-list>


        <ion-list *ngIf="optionTypes==='membership'">
            <!-- <ion-list-header class="list-header">Members List</ion-list-header>
    
            <button  ion-item *ngFor="let member of clubMembers" (click)="memberSelected(member.player)">
                <ion-avatar style="height: 32px; width: 32px" item-left>
                    <img src="{{getImage(member)}}" >
                </ion-avatar>
                <h2>{{member.player.playerName?member.player.playerName:member.player.firstName}} {{!member.player.playerName && member.player.lastName?' '+member.player.lastName:''}}</h2>
                <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='M'"><i class="fa fa-mars fa-2x"
                        aria-hidden="true"></i></span>
                <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='F'"><i class="fa fa-venus fa-2x" aria-hidden="true"></i></span>
            </button> -->
    
            <ion-list-header class="list-header">
                <ion-label item-start>Members</ion-label> 
                <button ion-button outline item-end (click)="onFilterMembershipStatus()">Displaying {{memberFilterStatus}} </button>
            </ion-list-header>
            <!-- <ion-item *ngIf="!searchPlayers && clubMembers && clubMembers.length === 0">
                <ion-label>Enter a string to search members above</ion-label>
            </ion-item> -->
            <ng-container *ngIf="clubMembers && clubMembers.length > 0">
                <!-- <ion-item *ngFor="let member of clubMembers" > -->
                <ion-item *ngFor="let member of getClubMembers()" >
                    <ion-avatar (click)="onMemberDetails(member)" style="height: 32px; width: 32px" item-left>
                        <img src="{{getImage(member.player)}}" >
                    </ion-avatar>
                    <h2 (click)="onMemberDetails(member)">{{member.player.playerName}} (#{{member.player.id}})</h2>
                    <h3 >
                        <!-- (click)="openMembershipOptions(member)" -->
                        <span  *ngIf="member.homeClub"><ion-icon name="home" style="color:green;font-size:18px"></ion-icon>&nbsp;</span>
                        M'ship No : {{member.membershipNumber}}</h3>
                    <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='M'"><i class="fa fa-mars fa-2x"
                            aria-hidden="true"></i></span>
                    <span item-right style="padding-right:10px;" *ngIf="member.player.gender==='F'"><i class="fa fa-venus fa-2x" aria-hidden="true"></i></span>
                    <button (click)="onUpdateMemberStatus(member,'suspend')" color="danger" *ngIf="getMemberStatus(member) === 'Active'" item-right ion-button outline>
                        <!--  (click)="onAddMulti(member.player)" --> 
                        <i class="fas fa-fw fa-times"></i>
                    </button>
                    <button (click)="onUpdateMemberStatus(member,'active')" *ngIf="getMemberStatus(member) !== 'Active'" item-right ion-button outline>
                        <!--  (click)="onAddMulti(member.player)" -->
                        <i class="fas fa-fw fa-check"></i>
                    </button>
                </ion-item>
            </ng-container>
            
            <!-- <ion-item *ngIf="searchPlayers && players && players.length === 0" color="danger">
                <ion-label>No player with name matching search string</ion-label>
            </ion-item> -->
    
        </ion-list>
    </ion-grid>
</ion-content>
<ion-footer style="background:white">
    <!-- <button full outline ion-button color="primary" style="font-weight: bold"> -->
    <!-- Current Slot Details :  -->
    <!-- {{getCurrentSlotDetails('courseName')}}
        {{getCurrentSlotDetails('time')}} -->
    <!-- </button> -->

    <button (click)="close()" ion-button full color='danger'>Close</button>
</ion-footer>