handicap-history-page {

  .item-ios, .item-md {
    &.item-block {
      &.scorecard-item{
        //@extend %gradient-item;
        padding-left: 10px;
      }
    }
  }

  .fa-people {

    padding-right: 5px;

  }
  .fa-location {
    color: #D92929;
    padding-right: 5px;
  }
  .competition-name {
    font-size: $font-size-base;
    font-weight: bold;
    word-wrap: break-word;
  }
  .played-on {
    font-size: $font-size-base*1.3;
    font-weight: bold;
  }
  .club-name{
    font-size: $font-size-base * 0.9;
    color:#28BB5B;
    font-weight: bold;
  }
  .course-names, .flight-members {
    font-size: $font-size-base * 0.8;
  }
  .total-scores{
    min-width: 55px;
    padding-right: 2px;
    text-align: right;
    .total-score{
      font-size: $font-size-base * 1;
      // text-align: center;
    }
    .front-back{
      font-size: $font-size-base * 0.7;
      // text-align: center;
    }
  }
  h1 {
    font-size: 3.5rem;
  }
  p.wrap-text {
    word-wrap: break-word;
    width: 10px !important;
    line-height: 1.7rem;
  }

  .player-field {
    text-align: left;
    padding: 0;
  }

  .player-param {
    text-align: right;
    font-weight: 600;
    padding: 0;
    padding-right: 1em;
  }

  .check-used {
    font-size: 1.5em;
  }

  .custom-card ion-card-content {
    padding: 0 !important;
  }
}
