<ion-list>
    <ion-card class="mygolf-table" >
        <ion-item class="gradient" >
            <h4>Select Course</h4>
            <button ion-button icon-only item-right clear color="dark" (click)="close()">
                <ion-icon name="close-circle" color="dark"></ion-icon>
            </button>
        </ion-item>
        <ion-item text-wrap *ngFor = "let course of courses"
                (tap)  = "selectCourse(course)"
                (click) = "selectCourse(course)" class="mygolf-table-row">
            <h3>{{course.courseName}} <span *ngIf="course.totalAvailable">({{course.totalAvailable}} slots)</span></h3>
        </ion-item>
    </ion-card>

</ion-list>


